
.App-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.form {
    padding: 5rem 25rem;
}

.form-group {
    margin: 2rem 1rem;
    display: flex;
}

.form-label {
    color: #004;
    font-weight: bold;
    text-transform: uppercase;
    width: 150px;
    margin-top: .5rem;
}

.form-control {
    padding: .5rem;
}